.container{
    width: 100%;
    padding-inline: 1rem;
    max-width: 1180px;
    margin-inline: auto;
}

@media (max-width: 1399.98px){
    .container{
        max-width: 1120px;
    }
}
@media (max-width: 1199.98px){
    .container{
        max-width: 940px;
    }
}
@media (max-width: 991.98px){
    .container{
        max-width: 720px;
    }
}
@media (max-width: 767.98px){
    .container{
        max-width: 540px;
    }
}
@media (max-width: 574.98px){
    .container{
        max-width: 100%;
    }
}
