@import './_variables';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: $fontfamilyfirst;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding-left: 0;
    li{
        margin-bottom: 1rem; 
         
    }
}

p:not(:last-child), h5, h6{
    margin-bottom: .75rem;
}
 